In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv("G:/Projects/Final/Guvi/Guvi.csv")
df.head(10)

,course_id,course_title,url,price,num_subscribers,num_reviews,num_lectures,level,Rating,content_duration,published_timestamp,subject
0,41295.0,Learn HTML5 Programming From Scratch,https://www.udemy.com/learn-html5-programming-...,0.0,268923.0,8629.0,45.0,Beginner Level,0.82,10.5,2013-02-14T07:03:41Z,Subject: Web Development
1,59014.0,Coding for Entrepreneurs Basic,https://www.udemy.com/coding-for-entrepreneurs...,0.0,161029.0,279.0,27.0,Expert Level,0.69,3.5,2013-06-09T15:51:55Z,Subject: Web Development
2,625204.0,The Web Developer Bootcamp,https://www.udemy.com/the-web-developer-bootcamp/,200.0,121584.0,27445.0,342.0,Beginner Level,0.89,43.0,2015-11-02T21:13:27Z,Subject: Web Development
3,173548.0,Build Your First Website in 1 Week with HTML5 ...,https://www.udemy.com/build-your-first-website...,0.0,120291.0,5924.0,30.0,All Levels,0.78,3.0,2014-04-08T16:21:30Z,Subject: Web Development
4,764164.0,The Complete Web Developer Course 2.0,https://www.udemy.com/the-complete-web-develop...,200.0,114512.0,22412.0,304.0,Beginner Level,0.55,30.5,2016-03-08T22:28:36Z,Subject: Web Development
5,473160.0,Web Design for Web Developers: Build Beautiful...,https://www.udemy.com/web-design-secrets/,0.0,98867.0,6512.0,20.0,All Levels,0.82,3.0,2015-04-13T18:29:47Z,Subject: Web Development
6,94430.0,Learn Javascript & JQuery From Scratch,https://www.udemy.com/learn-javascript-jquery-...,30.0,84897.0,2685.0,10.0,All Levels,0.79,2.0,2013-10-10T15:19:29Z,Subject: Web Development
7,130064.0,Practical PHP: Master the Basics and Code Dyna...,https://www.udemy.com/code-dynamic-websites/,0.0,83737.0,4598.0,45.0,Intermediate Level,0.85,6.5,2014-07-19T03:02:05Z,Subject: Web Development
8,364426.0,JavaScript: Understanding the Weird Parts,https://www.udemy.com/understand-javascript/,175.0,79612.0,16976.0,85.0,All Levels,0.69,11.5,2015-03-12T23:19:54Z,Subject: Web Development
9,756150.0,Angular 4 (formerly Angular 2) - The Complete ...,https://www.udemy.com/the-complete-guide-to-an...,190.0,73783.0,19649.0,329.0,Beginner Level,0.90,22.0,2016-02-11T07:29:29Z,Subject: Web Development

In [3]:

df.shape

(3680, 12)

In [4]:
df[df.content_duration == 0]

,course_id,course_title,url,price,num_subscribers,num_reviews,num_lectures,level,Rating,content_duration,published_timestamp,subject
2386,627332.0,Mutual Funds for Investors in Retirement Accounts,https://www.udemy.com/mutual-funds-for-investo...,20.0,0.0,0.0,0.0,All Levels,0.95,0.0,2015-12-17T05:38:38Z,Business Finance

Data pre processing

In [5]:
for col in ["num_subscribers", "num_reviews", "num_lectures", "content_duration"]:
    a = df[col] <= 0
    df.loc[a] = np.nan

In [6]:
df.isna().sum()

course_id              288
course_title           288
url                    288
price                  288
num_subscribers        288
num_reviews            288
num_lectures           288
level                  288
Rating                 288
content_duration       288
published_timestamp    288
subject                287
dtype: int64

In [7]:
df.dropna(inplace=True)

In [8]:
df.isna().sum()

course_id              0
course_title           0
url                    0
price                  0
num_subscribers        0
num_reviews            0
num_lectures           0
level                  0
Rating                 0
content_duration       0
published_timestamp    0
subject                0
dtype: int64

In [9]:
df.shape

(3392, 12)

In [10]:
df.head(10)

,course_id,course_title,url,price,num_subscribers,num_reviews,num_lectures,level,Rating,content_duration,published_timestamp,subject
0,41295.0,Learn HTML5 Programming From Scratch,https://www.udemy.com/learn-html5-programming-...,0.0,268923.0,8629.0,45.0,Beginner Level,0.82,10.5,2013-02-14T07:03:41Z,Subject: Web Development
1,59014.0,Coding for Entrepreneurs Basic,https://www.udemy.com/coding-for-entrepreneurs...,0.0,161029.0,279.0,27.0,Expert Level,0.69,3.5,2013-06-09T15:51:55Z,Subject: Web Development
2,625204.0,The Web Developer Bootcamp,https://www.udemy.com/the-web-developer-bootcamp/,200.0,121584.0,27445.0,342.0,Beginner Level,0.89,43.0,2015-11-02T21:13:27Z,Subject: Web Development
3,173548.0,Build Your First Website in 1 Week with HTML5 ...,https://www.udemy.com/build-your-first-website...,0.0,120291.0,5924.0,30.0,All Levels,0.78,3.0,2014-04-08T16:21:30Z,Subject: Web Development
4,764164.0,The Complete Web Developer Course 2.0,https://www.udemy.com/the-complete-web-develop...,200.0,114512.0,22412.0,304.0,Beginner Level,0.55,30.5,2016-03-08T22:28:36Z,Subject: Web Development
5,473160.0,Web Design for Web Developers: Build Beautiful...,https://www.udemy.com/web-design-secrets/,0.0,98867.0,6512.0,20.0,All Levels,0.82,3.0,2015-04-13T18:29:47Z,Subject: Web Development
6,94430.0,Learn Javascript & JQuery From Scratch,https://www.udemy.com/learn-javascript-jquery-...,30.0,84897.0,2685.0,10.0,All Levels,0.79,2.0,2013-10-10T15:19:29Z,Subject: Web Development
7,130064.0,Practical PHP: Master the Basics and Code Dyna...,https://www.udemy.com/code-dynamic-websites/,0.0,83737.0,4598.0,45.0,Intermediate Level,0.85,6.5,2014-07-19T03:02:05Z,Subject: Web Development
8,364426.0,JavaScript: Understanding the Weird Parts,https://www.udemy.com/understand-javascript/,175.0,79612.0,16976.0,85.0,All Levels,0.69,11.5,2015-03-12T23:19:54Z,Subject: Web Development
9,756150.0,Angular 4 (formerly Angular 2) - The Complete ...,https://www.udemy.com/the-complete-guide-to-an...,190.0,73783.0,19649.0,329.0,Beginner Level,0.90,22.0,2016-02-11T07:29:29Z,Subject: Web Development

In [11]:
df["year"] = pd.to_datetime(df["published_timestamp"]).dt.year
df["month"] = pd.to_datetime(df["published_timestamp"]).dt.month

In [12]:
df = df.drop(["course_title", "url", "published_timestamp"], axis = 1)
df.head(10)

,course_id,price,num_subscribers,num_reviews,num_lectures,level,Rating,content_duration,subject,year,month
0,41295.0,0.0,268923.0,8629.0,45.0,Beginner Level,0.82,10.5,Subject: Web Development,2013,2
1,59014.0,0.0,161029.0,279.0,27.0,Expert Level,0.69,3.5,Subject: Web Development,2013,6
2,625204.0,200.0,121584.0,27445.0,342.0,Beginner Level,0.89,43.0,Subject: Web Development,2015,11
3,173548.0,0.0,120291.0,5924.0,30.0,All Levels,0.78,3.0,Subject: Web Development,2014,4
4,764164.0,200.0,114512.0,22412.0,304.0,Beginner Level,0.55,30.5,Subject: Web Development,2016,3
5,473160.0,0.0,98867.0,6512.0,20.0,All Levels,0.82,3.0,Subject: Web Development,2015,4
6,94430.0,30.0,84897.0,2685.0,10.0,All Levels,0.79,2.0,Subject: Web Development,2013,10
7,130064.0,0.0,83737.0,4598.0,45.0,Intermediate Level,0.85,6.5,Subject: Web Development,2014,7
8,364426.0,175.0,79612.0,16976.0,85.0,All Levels,0.69,11.5,Subject: Web Development,2015,3
9,756150.0,190.0,73783.0,19649.0,329.0,Beginner Level,0.90,22.0,Subject: Web Development,2016,2

Data frame data types

In [13]:
df.dtypes

course_id           float64
price               float64
num_subscribers     float64
num_reviews         float64
num_lectures        float64
level                object
Rating              float64
content_duration    float64
subject              object
year                  int32
month                 int32
dtype: object

In [14]:
df["level"].value_counts()

level
All Levels            1767
Beginner Level        1177
Intermediate Level     391
Expert Level            57
Name: count, dtype: int64

In [15]:
df["subject"].value_counts()

subject
Subject: Web Development    1198
Business Finance            1079
Musical Instruments          596
Graphic Design               519
Name: count, dtype: int64

In [16]:
df["subject"] = df["subject"].apply(lambda x: x.replace("Subject: ", "" ))

In [17]:
df.head(10)

,course_id,price,num_subscribers,num_reviews,num_lectures,level,Rating,content_duration,subject,year,month
0,41295.0,0.0,268923.0,8629.0,45.0,Beginner Level,0.82,10.5,Web Development,2013,2
1,59014.0,0.0,161029.0,279.0,27.0,Expert Level,0.69,3.5,Web Development,2013,6
2,625204.0,200.0,121584.0,27445.0,342.0,Beginner Level,0.89,43.0,Web Development,2015,11
3,173548.0,0.0,120291.0,5924.0,30.0,All Levels,0.78,3.0,Web Development,2014,4
4,764164.0,200.0,114512.0,22412.0,304.0,Beginner Level,0.55,30.5,Web Development,2016,3
5,473160.0,0.0,98867.0,6512.0,20.0,All Levels,0.82,3.0,Web Development,2015,4
6,94430.0,30.0,84897.0,2685.0,10.0,All Levels,0.79,2.0,Web Development,2013,10
7,130064.0,0.0,83737.0,4598.0,45.0,Intermediate Level,0.85,6.5,Web Development,2014,7
8,364426.0,175.0,79612.0,16976.0,85.0,All Levels,0.69,11.5,Web Development,2015,3
9,756150.0,190.0,73783.0,19649.0,329.0,Beginner Level,0.90,22.0,Web Development,2016,2

In [18]:
X=df.iloc[:,1:5] ## all rows, from column1 to Column 4.
## That is from column price to column num_lectures
y=df['Rating']

In [19]:
X

      price  num_subscribers  num_reviews  num_lectures
0       0.0         268923.0       8629.0          45.0
1       0.0         161029.0        279.0          27.0
2     200.0         121584.0      27445.0         342.0
3       0.0         120291.0       5924.0          30.0
4     200.0         114512.0      22412.0         304.0
...     ...              ...          ...           ...
3647   20.0              3.0          1.0          14.0
3662   20.0              1.0          1.0          38.0
3663  135.0              1.0          1.0           6.0
3665  135.0              1.0          1.0           5.0
3667  200.0              1.0          1.0          22.0

[3392 rows x 4 columns]

In [20]:
y

0       0.82
1       0.69
2       0.89
3       0.78
4       0.55
        ...
3647    0.11
3662    0.96
3663    0.24
3665    0.04
3667    0.15
Name: Rating, Length: 3392, dtype: float64

In [21]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25)

## multiple linear regression
regr = LinearRegression()
fit = regr.fit(X_train, y_train)

print(regr.coef_)
print(regr.intercept_)

[ 1.59538393e-04 -1.73618885e-07  5.98649643e-06 -3.51293437e-04]
0.6140867940433707

In [22]:
print(regr.score(X_test, y_test))

0.0018971674279367745

In [23]:
y_pred = regr.predict(X_test)

In [24]:
from sklearn.metrics import r2_score

r2 = r2_score(y_test, y_pred)

print("R2 score:", r2)

R2 score: 0.0018971674279367745